<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Fale conosco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <img class="img-item" src="https://drive.google.com/uc?id=1sHTj2Q5mnvQ7tGNRqc0zhGZLBBJjlP5V"
      alt="Imagem Solidariedade" />
    <p class="texto-item">
      Esta precisando de ajuda? Podemos te ajudar!
    </p>
   
  </div>

  <div class="conteudo animate__animated animate__fadeInLeft">
    <ion-card [routerLink]="['/tabs/tab1']">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://i.imgur.com/5y5fzog.png" />
        </ion-thumbnail>
        <ion-label>Voltar</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>